[user]
	name = Matt Labarre
	email = matt.labarre@yahoo.com
[push]
	default = simple
[core]
	editor = {vim}
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
